<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>campusnaut.servlet.CreateAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountValidation</servlet-name>
    <servlet-class>campusnaut.servlet.AccountValidation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GPSInjection</servlet-name>
    <servlet-class>campusnaut.servlet.GPSInjection</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RetrieveGoals</servlet-name>
    <servlet-class>campusnaut.servlet.RetrieveGoals</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProgress</servlet-name>
    <servlet-class>campusnaut.servlet.UpdateProgress</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetupGame</servlet-name>
    <servlet-class>campusnaut.servlet.SetupGame</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DrawBarGraph</servlet-name>
    <servlet-class>campusnaut.servlet.DrawBarGraph</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>GetJsonByEth</display-name>
    <servlet-name>GetJsonByEth</servlet-name>
    <servlet-class>campusnaut.servlet.GetJsonByEth</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/servlet/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountValidation</servlet-name>
    <url-pattern>/servlet/AccountValidation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GPSInjection</servlet-name>
    <url-pattern>/servlet/GPSInjection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RetrieveGoals</servlet-name>
    <url-pattern>/servlet/RetrieveGoals</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProgress</servlet-name>
    <url-pattern>/servlet/UpdateProgress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetupGame</servlet-name>
    <url-pattern>/servlet/SetupGame</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DrawBarGraph</servlet-name>
    <url-pattern>/servlet/DrawBarGraph</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GetJsonByEth</servlet-name>
    <url-pattern>/servlet/GetJsonByEth</url-pattern>
  </servlet-mapping>
</web-app>